.cuerpo-citas{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contenido-citas{
	width: 100%;
	padding: 0;
	margin: 0;
	padding-bottom: 2rem;
/*	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;*/
}
.titulo-citas{
	width: 100%;
	color: #00695c;
	font-size: 2rem;
	text-align: center;
	border-bottom: 2px solid #00695c; 
}
.solicitudes{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;	
}
.solicitudes-estado-t{
	width: 100%;
	padding: .5rem 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	background: #303841;
	color: #fff;
	text-align: center;
}
.asunto-solicitud-t{
	width: 40%;
	list-style: none;

}
.fecha-solicitud-t{
	width: 25%;
	list-style: none;
	border-left: 1px solid #fff; 
}
.estado-solicitud-t{
	width: 20%;
	list-style: none;
	border-left: 1px solid #fff; 
}
.abogado-solicitud-t{
	width: 10%;
	list-style: none;
	border-left: 1px solid #fff;
}
.asignar-solicitud-t{
	width: 5%;
	list-style: none;
	border-left: 1px solid #fff;
}
.solicitudes-estado{
	width: 100%;
	padding: .5rem 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	color: #303841;
	text-align: center;
}
.asunto-solicitud{
	width: 40%;
	list-style: none;
}
.fecha-solicitud{
	width: 25%;
	list-style: none;
	border-left: 1px solid #303841; 
}
.estado-solicitud{
	width: 20%;
	list-style: none;
	border-left: 1px solid #303841; 
}
.abogado-solicitud{
	width: 10%;
	list-style: none;
	border-left: 1px solid #303841;
}
.asignar-solicitud{
	width: 5%;
	list-style: none;
	border-left: 1px solid #303841;
}

.menu-oculto{
	display: none;
}






