<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Clientes</title>
	<link rel="stylesheet" type="text/css" href="css/stylus2.css">
	<script type="text/javascript" src="js/abogados.js"></script>
</head>
<body>
	<nav class="cabecera-clientes">
		<h2>Clientes</h2>
		<ul>
			<a href="/salir">
				<li>Salir</li>
			</a>

		</ul>
	</nav>
	<section class="clientes">
		<nav class="menu-clientes">
				<a href="#" id="inf-personal"><li>Informacion Personal</li></a>
				<a href="#" id="casos"><li>Casos</li></a>
				<a href="#" id="citas"><li>Citas</li></a>
				<a href="#" id="mensajes"><li>Mensajes</li></a>
		</nav>
		<div class="contenido-clientes" id="contenido-clientes">
			
		</div>
	</section>
</body>
</html>
