<body class="cuerpo-citas">
	<section class="contenido-citas">
		<h3 class="titulo-citas">Solicitudes Pendientes</h3>
		<article class="solicitudes" id="solicitudes">
			<ul class="solicitudes-estado-t">
				<li class="asunto-solicitud-t">Asunto</li>
				<li class="fecha-solicitud-t">Fecha</li>
				<li class="estado-solicitud-t">Estado</li>
			</ul>			
			<ul class="solicitudes-estado">
				<li class="asunto-solicitud">Asunto</li>
				<li class="fecha-solicitud">Fecha</li>
				<li class="estado-solicitud">Estado</li>
			</ul>			
		</article>
	</section>
</body>
