<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Solicitudes</title>
</head>
<body class="cuerpo-citas">
	<section class="contenido-citas">
		<h3 class="titulo-citas">Solicitudes de Casos Pendientes</h3>
		<ul class="solicitudes-estado-t">
			<li class="asunto-solicitud-t">Asunto</li>
			<li class="fecha-solicitud-t">Fecha</li>
			<li class="estado-solicitud-t">Estado</li>
			<li class="abogado-solicitud-t">Abogado</li>
			<li class="asignar-solicitud-t"></li>
		</ul>			
		<article class="solicitudes" id="solicitudes" >
				{% for i in citas %}
				<form class="form-solicitudes-abogado" id="{{ i.id }}" enctype="multipart/form-data">
					<ul class="solicitudes-estado">
						<li class="asunto-solicitud" id="asunto-solicitud">{{ i.asunto }}</li>
						<li class="fecha-solicitud" id="fecha-solicitud">{{ i.fecha }}</li>
						<li class="estado-solicitud" id="estado-solicitud">seleciona</li>
						<li class="abogado-solicitud abgd-color">
						<select name="abogad-os" id="{{ i.id + 1}}">
							{% for j in abogados %}
								<option class="abogado-asignado" value="{{ j.correo }}">{{ j.nombre }}
							{% endfor %}
						</select></li>
						<li class="asignar-solicitud" id="asignar-solicitud-t"><input type="submit" name="asignar-caso" value="Confirmar" class="btn-confirmar"></li>
					</ul>
				</form>
				{% endfor %}

		</article>
		
	</section>
</body>
