<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Solicitudes</title>
</head>
<body class="cuerpo-citas">
	<section class="contenido-citas">
		<h3 class="titulo-citas">Solicitudes de Casos Pendientes</h3>
		<ul class="solicitudes-estado-t">
			<li class="asunto-solicitud-t">Asunto</li>
			<li class="fecha-solicitud-t">Fecha</li>
			<li class="estado-solicitud-t">Estado</li>
			<li class="abogado-solicitud-t">Abogado</li>
			<li class="asignar-solicitud-t"></li>
		</ul>			
		<article class="solicitudes" id="solicitudes">
			<form>
				<ul class="solicitudes-estado">
					<li class="asunto-solicitud" id="asunto-solicitud">Asunto</li>
					<li class="fecha-solicitud" id="fecha-solicitud">Fecha</li>
					<li class="estado-solicitud" id="estado-solicitud">Estado</li>
					<li class="abogado-solicitud-t" id="abogado-solicitud-t">abogado</li>
					<li class="asignar-solicitud-t" id="asignar-solicitud-t"></li>
				</ul>
				<div class="menu-oculto" id="1">
					sdfsdfdf
				</div>
			</form>
		</article>
		
	</section>
</body>
